# Flutter/Dart.dart_tool/.packages.flutter-plugins.flutter-plugins-dependencies.pub-cache/build/# Android buildsandroid/.gradle/android/**/build/android/**/outputs/android/**/intermediates/# iOS buildsios/Pods/ios/Runner.xcworkspace/ios/.symlinks/ios/Flutter/Flutter.frameworkios/Flutter/Flutter.podspec# Binaries*.apk*.aab*.so# IDE files.vscode/.idea/*.iml# Misc.DS_Store